
.Fullpage{
    background: linear-gradient(#473082,#408FA2);
    position: relative;
    min-height: 100vh;
    /* border: 3px linear-gradient(#473082,#408FA2) */
}
/* This is the div around the entire component */
.contactUsOuterContainer {
    /* border: 2px solid blue; */
    background: linear-gradient(#473082,#408FA2);
    margin-top: 10%;
    padding: 20px;
    width: 50%;
    /* max-width: 500px; */
    position: absolute;
    left:25%;
    box-shadow: 6px 10px 10px lightgrey;
    /* box-shadow: (width,height,blur color)*/
}

/* This is the div around the name section */
.nameContainer {
    /* border: 1px solid blue; */
    padding: 5px;
    color: white;
    font-weight: bold;
}

/* This is the direct styling of the name label */
.nameLabel {
    /* border: 1px solid green; */
}

/* This is the direct styling of the name input */
.nameInput {
    /* border: 1px solid orangered; */
    width: 100%;
    height: 30px;
    font-size: large;
}

/* This is the div around the email section */
.emailContainer {
    /* border: 1px solid blue; */
    padding: 5px;
    color: white;
    font-weight: bold;
}

/* This is the direct styling of the email label */
.emailLabel {
    /* border: 1px solid green; */
}

/* This is the direct styling of the email input */
.emailInput {
    /* border: 1px solid orangered; */
    width: 100%;
    height: 30px;
    font-size: large;
}

/* This is the div around the message section */

.messageContainer {
    /* border: 1px solid blue; */
    padding: 5px;
    padding-top: 25px;
    color: white;
    font-weight: bold;
}

/* This is the div around the message label */
.messageLabel {
    /* border: 1px solid green; */
    
}

/* This is the direct styling of the message input */
.messageInput {
    /* border: 1px solid orangered; */
    height: 100px;
    width: 100%;
    resize: vertical;
    font-size: large;
    font-family: sans-serif;
}

/* This is the direct styling of the div surrounding the submit button */
.submitContainer {
    /* border: 1px solid blue; */
    padding: 5px;
    padding-top: 20px;
    text-align: center;
}
/* This is the direct styling of the submit input */

.submitInput {
    /* border: 1px solid orangered; */
    background-color: #1D50D6;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    height: 40px;
    width: 100%;
    border-radius: 6px;
}

.submitInput:hover {
    background-color: turquoise;
    color: black;
    transition: all 0.2s ease-out;
}

.heading{
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 5px;
}

.description{
    color: white;
    font-size:14px;
    text-align: center;
    padding-bottom: 5px;
}