.DropdownContainer{
    background: white;
    border: 3px solid green;
    max-height: 50vh;
    min-width: 450px;
    margin: 10px;
    box-shadow: 6px 10px 10px lightgrey;
}


.ComparisonList{
    min-width: 450px;

}

.AutocompleteLabel{

}